body {
  background-color: lightcyan;
  font-size: 1.5em;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.show-initial {
  display: none;
}

.flashcard {
  background-color: lightblue;
}

.header-term {
  font-size: 1.3em;
}

.header-definition {
  font-size: 1.3em;
}

.paragraph-definition {
  font-size: 1em;
}
